/*  HEADER  */

header {
	position: relative;
	display: flex;
	justify-content: center;
	box-shadow: 0 2px 3px 0 rgba( 0, 0, 0, 0.1);
}

/*  HEADER - Bouton retour  */

header .icon {
	position: absolute;
	top: 30px;
	left: 30px;
	color: #000;
}