/*  ANIMATION - Apparition boutons sélection  */

.up {
	animation: fadein 1s;
}

.up--1 {
	animation-delay: 50ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--2 {
	animation-delay: 150ms;
	animation-fill-mode: forwards;
	opacity:0;
}
.up--3 {
	animation-delay: 300ms;
	animation-fill-mode: forwards;
	opacity:0;
}

.up--4 {
	animation-delay: 450ms;
	animation-fill-mode: forwards;
	opacity:0;
}

@keyframes fadein {
    from {
		transform: translateY(20px);
        opacity:0;
    }
    to {
		transform: translateY(0);
        opacity:1;
    }
}