/*  TYPOGRAPHY  */

h1 {
	font-family: 'Shrikhand', cursive;
	text-align: center;
	margin: 20px 0 auto;
}

h2 {font-family: 'Shrikhand', cursive;
	text-align: center;
}

h3 {
	font-size: 1.5em;
}

h4, p {
	margin: 0;
}